@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-image: url(background.jpg);
    background-attachment: fixed;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#whole{
  overflow: auto;
  margin: 150px 0; 
  text-align: center;
}
#Login{
  display: inline-block;
  height: 600px;
  width: 400px;
  background-color: white;
  overflow: auto;
  text-align: center;
}
#Login img{
  margin: 5px;
  width: 300px;
  height: 200px;
}
button {
  background-color: #f05513;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
}

button:hover {
  opacity: 0.8;
}
